      body {
        min-width: 850px;
        margin: auto;
        padding: 0;
        line-height: 1.0;
        font-size: 18px;
        color: #333;
        background: #eee;
        font-family: Garamond, Book Antiqua, Palatino, Baskerville, serif;
      }
      .regcontent {
        max-width: 850px;
        margin: auto;
      }
      .regtext {
        max-width: 550px;
        margin: 30px auto;
        line-height: 1.6;
      }
      .quotetext {
        max-width: 550px;
	margin: 30px auto;
	line-height: 1.2;
        font-family:  'IM Fell English SC', cursive;
      }
      .photo {
        display: block;
        margin: auto;
	border: 1px solid #ddd;
	background-color: #f3f3f3;
        padding-top: 14px;
	text-align: center;
        font-size: 14px;
        font-variant: small-caps;
        margin-bottom: 30px;
      }
      .photo img {
         display: block;
         margin: auto;
      }
      hr {
         max-width: 150px;
         margin: auto;
      }
      .dropcap {
        float: left;
        position: relative;
        line-height: 1.0;
        font-size: 80px;
        vertical-align: text-top;
        min-width: 50px;
        margin: 0;
        margin-right: 15px;
        color: #ffb618;
      }
      table, th, td {
        border-collapse: collapse;
        #border: 1px solid black;
        border-bottom: 1px solid #ddd;
        padding: 5px;
        font-size: 14px;
      }
      #tr:nth-child(even) {
      #  background-color: #e3e3f3;
      #}
      table {
        width: 100%;
      }
      .tableheader {
        font-weight: bold;
      }

